@import url(./assets/commonstyles.css);

body {
     background: url(./assets/landing-page/backgroundPic.png) center center/cover;
     /* background-color: #cccccc; */
     background-size: 1500px 1100px;
     width: 100%;
     height: 100%;
     overflow: hidden;
}

.p1{
    padding: 1rem;
}
    
#libraryName {
    font-family: GrenzeGotisch;
    color: #ffffff;
    text-align: center;
    font-size: 90px;
    font-weight: 100;

}

@font-face {
    font-family: GrenzeGotisch;
    src: url(./assets/fonts/GrenzeGotisch.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto-Light.ttf);
    font-stretch: condensed;
}

@font-face {
    font-family: Pacifico;
    src: url(./assets/fonts/Pacifico-Regular.ttf);
}

#quote {
    font-family: Roboto;
    color: #ffffff;
    font-size: 25px;

}

#showcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#showcase h1{
    font-weight: 100;
}

#showcase .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30%;
}

#showcase .buttons a{
    margin: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: Roboto;
    text-decoration: none;
}

#showcase .buttons a:first-child{
    color: #f8e7d5;
    border-radius: 25px;
    padding: 12px 3.5rem;
    border: 1px solid #f8e7d5;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#showcase .buttons a:first-child:hover{
    box-shadow: 4px 8px 10px #222222
}

#showcase .buttons a:last-child{
    background-color: #f8e7d5;
    color: #24191b;
    border-radius: 25px;
    padding: 12px 30px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#showcase .buttons a:last-child:hover{
    box-shadow: 7px 12px 16px #222222
}

.anim-left {
    margin-right: 5px;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#collection:hover > .anim-left {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
}