*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
     background: url(./backgroundPic.png) no-repeat center center/cover;
     /* background-color: #cccccc; */
     background-size: 1500px 1100px;
     width: 100%;
     height: 100%;
     overflow: hidden;
}

.p1{
    padding: 1rem;
}
    
#libraryName {
    font-family: GrenzeGotisch;
    color: #ffffff;
    text-align: center;
    font-size: 90px;
    font-weight: 100;

}

@font-face {
    font-family: GrenzeGotisch;
    src: url(GrenzeGotisch.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(Roboto-Light.ttf);
    font-stretch: condensed;
}

@font-face {
    font-family: Pacifico;
    src: url(Pacifico-Regular.ttf);
}

#quote {
    font-family: Roboto;
    color: #ffffff;
    font-size: 25px;

}

.topnav {
  overflow: hidden;
  background: rgba(29, 25, 25, 0.8);
  display: flex;
  justify-content: space-between;

}

.topnav .left-buttons{
    display: flex;
    align-items: center;
    text-align: center;
    width: 27% ;
    
}

.topnav .right-buttons{
    display: flex;
    align-items: center;
    justify-content: center ;
    text-align: center;
    
}

.topnav .left-buttons a {
  color: #f2f2f2;
  text-align: center;
  padding: 1rem; 
  text-decoration: none;
  font-size: 17px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topnav .left-buttons a:first-child{
    font-size: large;
    padding: 0.75rem 1rem;
}

.topnav .right-buttons a{
    padding: 0.5rem 2.5rem;
    margin: 0 1rem;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.topnav a:hover {
  background-color: #121212;
}

.topnav a.active {
  color: white;
  font-family: Pacifico;
}

.topnav a.peach {
    color: #f8e7d5;
}

.topnav a.current {
    background-color: #f8e7d5;
    color: #24191b;
}

.topnav a.login {
    color: #f8e7d5;
    box-shadow: 0px 0px 0px 1px #f8e7d5;
    border-radius: 25px;
}

.topnav a.signup {
    background-color: #f8e7d5;
    color: #24191b;
    border-radius: 25px;
    border-spacing: 10px 0px;
}

#showcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#showcase h1{
    font-weight: 100;
}

#showcase .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30%;
}

#showcase .buttons a{
    margin: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: Roboto;
    text-decoration: none;
}

#showcase .buttons a:first-child{
    color: #f8e7d5;
    border-radius: 25px;
    padding: 12px 3.5rem;
    border: 1px solid #f8e7d5;
}
#showcase .buttons a:last-child{
    background-color: #f8e7d5;
    color: #24191b;
    border-radius: 25px;
    padding: 12px 30px;
}